{% extends 'base.html.twig' %}

{% block title %}Hello RecipeController!{% endblock %}
{% block stylesheets %}
<style>
    .recipe-wrapper {
        margin: 1em auto;
        max-width: 1300px;
        width: 95%;
        font: 18px/1.5 sans-serif;
    }
</style>
{% endblock %}

{% block body %}
    <div class="recipe-wrapper">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-6">
            {% for recipe in recipes %}
                <div>
                    {% include 'recipe/recipe_item.html.twig' with { recipe: recipe } %}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="fixed bottom-12 right-16 text-xl">
        <a href="/recipe/create" class="flex items-center bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-full shadow-md">
            <span>Add recipe</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 ml-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"></path>
            </svg>
        </a>
    </div>
{% endblock %}
